<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">My Expenses</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Expense Categories</th>
                        <th class="text-right">Total</th>
<!--                        <th style="width: 40px">Percentage</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <template v-if="has_datasets">
                        <tr v-for="(item,key) in datasets">
                            <td>{{key+1}}</td>
                            <td>{{item.category_name}}</td>
                            <td class="text-right">
                               {{item.total}}
                            </td>
<!--                            <td><span class="badge bg-danger">55%</span></td>-->
                        </tr>
                    </template>
                    <template v-else>
                        <tr>
                            <td colspan="4">No information to display.</td>
                        </tr>
                    </template>


                    </tbody>
                </table>
            </div>
            <div class="col-md-5 col-lg-5 col-xl-5 col-sm-12">
                <pie-chart :data="testData" :options="options"/>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
