<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Users</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active">User Management</li>
                    <li class="breadcrumb-item active">Users</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row" v-if="alert.show">
            <div class="col">
                <div class="alert alert-dismissible" :class="alert.type">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" @click="alert.show = false">×</button>
                    <b><i class="icon fas" :class="alert.icon"></i> {{alert.title}}</b>
                    {{alert.message}}
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-lg-2 col-md-2 col-xl-2 col-sm-12">
                <button type="button" style="max-width: 150px;" @click="toggleModal(true)"
                        class="btn btn-block btn-primary btn-flat">
                    <i class="fa fa-plus"/>
                    Add User
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <table class="table table-bordered table-hover bg-white">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email Address</th>
                        <th>Role</th>
                        <th style="width: 150px">Created At</th>
                    </tr>
                    </thead>
                    <tbody>
                    <template v-if="has_datasets">
                        <tr v-for="(item,index) in datasets" :key="'tr-role-'+index" @click="edit(item)">
                            <td>{{ item.name }}</td>
                            <td>{{ item.email }}</td>
                            <td>{{ item.roles[0].name }}</td>
                            <td>{{ item.created_at_f }}</td>
                        </tr>
                    </template>
                    <template v-else>
                        <tr>
                            <td colspan="4">No information to display.</td>
                        </tr>
                    </template>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div :class="{'modal fade center':true,'show d-block':modal_shown}" aria-modal="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal" @submit.prevent="save">
                    <div class="modal-header">
                        <h4 class="modal-title">{{ modal_title }}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Name</label>
                            <div class="col-sm-8">
                                <input type="text" v-model="form_data.name" maxlength="150" required
                                       class="form-control" placeholder="Required*">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Email Address</label>
                            <div class="col-sm-8">
                                <input type="text" v-model="form_data.email" maxlength="150" required
                                       class="form-control" placeholder="Required*">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Role</label>
                            <div class="col-sm-8">
                                <template v-if="can_save">
                                    <select class="form-control" v-model="current_role" required>
                                        <option disabled value="">--Select Role--</option>
                                        <option v-for="(item,index) in rolesSelection" :value="item.id">{{item.name}}</option>
                                    </select>
                                </template>
                                <template v-else>
                                    <input type="text" :value="form_data_role_name" maxlength="150" required
                                           class="form-control" placeholder="Required*">
                                </template>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" v-if="can_delete" @click="deleteRecord(form_data.id)" class="btn btn-danger">Delete</button>
                        <div class="ml-auto">
                            <button type="button" class="btn btn-default" data-dismiss="modal"
                                    @click="toggleModal(true)">Cancel
                            </button>
                            <button type="submit" v-if="can_save" class="btn btn-success ml-1">{{ save_button_title }}</button>
                        </div>

                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</section>
